#search-field {
    border-radius: 30px 0 0 30px;
}
#search-btn {
    border-radius: 0 30px 30px 0;
}
.card{
    margin: auto;
    width: 18rem;
}

.btn-grad {background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%)}
.btn-grad {
   margin: auto;
   padding: 8px 40px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 20px;
   display: block;
   border: none;
 }

.btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
