.card{
    /* border: 2px solid red; */
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(197, 198, 200, 0.4);
    padding: 15px;
    margin: auto;
    width: 18rem;
}
.card:hover{
    box-shadow: 0 0 10px 3px rgb(36, 107, 240 , 0.25);
}

/* .btn-grad {background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%)} */
.btn-grad {
   background-color:rgb(36, 107, 240);
   margin: auto;
   padding: 5px 35px;
   text-align: center;
   font-weight: 500;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   display: block;
   border: 3px solid rgb(36, 107, 240);
 }

.btn-grad:hover {
   background:transparent;
   color: rgb(36, 107, 240) ;
   border-bottom: 3px solid rgb(36, 107, 240);
   border-top: none;
   border-left: none;
   border-right: none;
   transition: 0.4s;
   text-decoration: none;
}
@media only screen and (min-width:769px){
    .detail-card{
        margin: auto;
        width: 40rem;
    }
    .detail-card-img{
        height: 350px;
        width: 250px;
    }
}